# Credentials
TYPO3_CONTEXT="Development"
TYPO3__DB__database="{{ MySqlDatabaseName }}"
TYPO3__DB__host="localhost"
TYPO3__DB__password="{{ MySqlDatabasePassword }}"
TYPO3__DB__port="3306"
TYPO3__DB__username="{{ MySqlDatabaseUser }}"

TYPO3__SYS__sitename="{{ TYPO3SiteName }}"
