# Credentials
TYPO3_CONTEXT="Development"
TYPO3__DB__Connections__Default__dbname="{{ MySqlDatabaseName }}"
TYPO3__DB__Connections__Default__host="localhost"
TYPO3__DB__Connections__Default__password={{ MySqlDatabasePassword }}"
TYPO3__DB__Connections__Default__port="3306"
TYPO3__DB__Connections__Default__user="{{ MySqlDatabaseUser }}"
TYPO3__DB__Connections__Default__driver="mysqli"

TYPO3__SYS__sitename="{{ TYPO3SiteName }}"
